/*=============================
Start Foods Menu Style
===============================*/

.menu-tab-list {
  &.nav {
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 20px 30px;

    @media #{$sm-device} {
      padding: 15px;
    }

    a{
      color: $paragraph;
      display: inline-block;
      font-weight: 600;
      font-size: 13px;
      padding: 0 20px;
      text-transform: uppercase;

      @media #{$sm-device} {
        padding: 0 5px;
      }

      &.active,&:hover{
        color: $brand-color;
      }
    }
  }
}

.single-menu-product {
  align-items: center;
  border: 1px solid $border-color;
  display: flex;
  padding: 20px 15px;
  margin-top: 30px;

  @media #{$sm-device} {
    display: block;
  }

  .menu-product{
    &-img{
      @media #{$sm-device} {
        margin-bottom: 20 px;
      }
    }
    &-content{
      margin-left: 25px;
      width: 100%;
      @media #{$sm-device} {
        margin-left: 0;
      }

      .menu-title-price{
        border-bottom: 1px dashed $border-color;
        display: flex;
        justify-content: space-between;
        margin: 0 0 7px;
        padding: 0 0 10px;
      }

      h4{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 2px;
        text-transform: capitalize;

        @media #{$xs-device} {
          font-size: 14px;
        }
      }

      .menu-price{
        color: $red;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
      }

      .menu-cate{
        color: $black-soft;
        font-size: 15px;
        margin-bottom: 0;
      }
    }
  }
}

